[run]
concurrency = greenlet
source = cloud
omit =
    cloud/__init__.py
    cloud/utils/__init__.py
    cloud/utils/version.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    (?i)# *pragma[: ]*no *cover
    raise NotImplementedError
